body{
    margin: 0;
}

:root{
    --visM:hidden;
}



.addProd{

    margin-top: 20px;
    margin-bottom: 20px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    align-items: center;
}
.addProd h1:not(.success,.error){
    text-align: center;
    font-weight: bolder;
    background: rgb(159, 159, 159);
    padding-bottom: 50px;
    padding-top: 50px;
}

.success{
    text-align: center;
    color: rgb(0, 255, 0);
}

.error{
    text-align: center;
    color: red;
}

.addProd .container{
    display: flex;
    flex-direction: column;
    padding: 0 5px 3px 5px;
}

.container label:not(.parts label,.acco label, .sel label){
    font-weight: bold;
    direction: rtl;
    font-size: 1.6rem;
}

.container label:not(.dropImage,.parts label,.acco label, .sel label)::after
{
    content: " هذا الحقل مطلوب";
    color: red;
    visibility: var(--visM);
}

.container  input[type=text] ,input[type=number]{
    direction: rtl;
    font-size: 1.5rem;
    
}

.dropImage{
    text-align: center;
    font-size: 10rem;
    border: 5px dashed;
    margin-bottom: 10px;
}

.dropImage::before{
   font-family: "Font Awesome 5 Free";
   content: "\f093 ";
   display: block;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    margin-bottom: 5px;
    /* width: 0; */
}
.dragImage::after{
    content: "Drop the file(s)";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 55px;
    width: 100%;
    left: 0;
    margin-top: -123px;
    /* margin-top: -6px; */
    background: rgba(75, 75, 75, 0.508);
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.622);
}

/* .dropImage i{
    display: block;

    align-self: center;
    margin: auto;
    padding: 0;
    font-size: 5rem;
    margin-bottom: 5px;
    width: 0;
    z-index: -3;
} */

.container input[type=file]
{
    display: none;
    font-size: 1.3rem;
    margin-bottom: 10px;
    border: 5px dashed;
}


#eternalDivImg{
    display: inline;
    margin: 0;
}

#eternalDivImg i{
    
    margin: 0;
   
}

.xIconH{
    visibility: hidden;
}

.xIcon{
    margin: 0;
    position: relative;
    font-size: 2.1rem;
    right: 45px;
    bottom: 15px;
    cursor: pointer;
}

.prodType{
    text-align: right;
    margin-bottom: 15px;
}

.prodType label{
    margin-left: 100px;
}

.prodType :hover:not(:first-child){
    cursor: pointer;
}

.prodType input:hover{
    cursor: pointer;
}

.parts{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.parts legend{
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold;
}

.parts label{
    /* display: inline-block;
    position: relative; */
    font-size: 1.6rem;
    direction: rtl;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.parts label:hover ,.parts input:hover{
    cursor: pointer;
}

.acco{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 35px;
    margin-bottom: 15px;
}

.acco legend{
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold;
}

.acco label{
    /* display: inline-block;
    position: relative; */
    font-size: 1.6rem;
    direction: rtl;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.acco label:hover ,.acco input:hover{
    cursor: pointer;
}

.sel{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.sel label
{
    text-align: right;
    direction: rtl;
    font-size: 1.6rem;
}

.sel span{
    font-size: 1.2rem;
    font-weight: bold;
}

#gpuCompany{
    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 0;
    z-index: 5;
    /* border: 1px solid;
    border-bottom: 5px solid; */
}

#gpuCompany p{
    margin: 0;
    /* border: 1px solid; */
    border-right:1px solid ;
    border-left: 1px solid;
    padding: 5px;
}

#gpuCompany p:hover{
    cursor: pointer;
}

#gpuCompany p{
    border-bottom: 1px solid;
}

#gpuCompany p:hover{
    background-color: rgb(196, 196, 196);
    padding: auto;
}

#gpuCompany #compVal
{
    text-align: center;
    outline: none;
    cursor: pointer;
}


#gpuCompany i{
    position: absolute;
    display: inline;
    /* font-family: 'Font Awesome 5 Free';
    font-style: normal; */
   
    
    margin-left: 280px;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
    /* right: 910px; */
}

#gpuCompany input{
    width: auto;
    outline: none;
}


#gpuBrand{
    width: max-content;
}

.container textarea{
    direction: rtl;
    font-size: 1.5rem;
    resize: vertical;
}

.container hr{
    
    margin-bottom:25px;
    width: 100%;
}

button{
    padding: 10px;
    background: linear-gradient(to right,rgb(108, 108, 108),rgb(61, 61, 61));
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(198, 198, 198);
}

button:hover{
    cursor: pointer;
}



.container input[type=checkbox] ,label:has(input[type=checkbox] ){
    cursor: pointer;
    margin-bottom: 15px;
}

.container img{
    margin-right: 7px;
    margin-bottom: 10px;
}

.hide{
    display: none;
    visibility: hidden;
}


/* .container div{
    display: flex;
} */

/* #addedImg::after{
    content: ""; /*::before and ::after both require content*//*
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
    z-index: 100;
} */