.item-container
{
  /* border: 10px solid white; */
  display: block;
  margin-left: 500px;
  margin-right: 500px;

}

.items-shop{

  margin-top: 40px;

  /* display: grid;
  grid-template-columns: auto auto auto auto; */
   /* flex: 0; */
   display: grid;
  grid-template-columns: repeat(4,minmax(250px,1fr));
  grid-auto-rows: 22vmax;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: end; */
  /* align-items: unsafe; */
  /* align-items: stretch;  */
  /* align-content: space-between; */
  gap: 4em;
  row-gap: 15rem;
  /* margin: 5px; */
  margin-right: 30px;
  margin-left: 30px;
 margin-bottom: 15rem;
}


@media only screen and (max-width:1200px) {
  .items-shop{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }
}

.items-shop div{
   box-shadow: 2px 0px 10px 5px #7786d8;
   border-radius: 20px 20px 0 0;
  /* border: 3px solid black;

 justify-content: center;
 display: flex;
 justify-content: center; */
 /* margin-bottom: 20vh; */

 border-bottom: 0.3rem solid white;
/* background-color: white; */

  /* margin-bottom: 50px; */
}



.items-shop div img:not(.riyalSym)
{

  /* flex: 1; */
  border-radius: 20px 20px 0 0;
  object-fit:  contain;
  width: 100%;
  height: 100%;
  /* object-position: center; */

  /* border: 5px solid white; */

  /* object-fit: fill; */


}

.items-shop div a{
  display: inline;
  margin: 0;
  padding: 0;
}

.items-shop div ul
{



  background-color: white;
  list-style-type: none;
/* display: block; */
/* display: ; */
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border-radius: 0 0 20px 20px;
  /* overflow: hidden; */
  /* overflow-wrap: break-word; */
  /* word-break: unset; */
  /* margin-bottom: -25px; */
  /* border:solid white;
  border-width: 100%; */

  /* height: 25vh; */
  /* background-color: white; */
  /* inline-size: min-content; */

  /* font-size: clamp(30px,1vmax,60px); */
  font-size: 1.2rem;

  /* word-wrap: none; */
  /* display: flex;
  flex-direction: column; */
  /* font-weight: bolder; */
  /* font-size: 70%; */
  /* overflow-x: auto; */
}

.bottom-border{
  box-shadow: 2px 14px 10px 5px #7786d8;
}

/* .items-shop div ul li
{

  align-items: end;
  word-break: break-all;
} */
 .prname {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
   display: block;
   /* word-wrap: break-word; */
   word-break: keep-all;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  padding: 5px;
}

.prname a{
  text-decoration: none;
  color: black;
}
.prname a:visited{
  text-decoration: none;
  color: black;
}

.prname a:hover{
  color: rgb(95, 95, 95);
}



.pprice{
  text-align: center;
  word-spacing: 5px;
}

.riyalSym{
  width: 15px;
}

.paction{
  margin-top: auto;
}

 .items-shop hr
 {
  width: 99.9%;
  height: 1px;
  background: #3e3e3e;
  font-size: 0;
  border: 0;
  margin-top: 15px ;
  margin-bottom: 15px ;
 }
.bottom-item
{

  display: flex;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  /* gap: 3em; */
}

.bottom-item li{

 padding: 5px ;

 /* height: 2vmax; */
 width: 1.5rem;
 /* border: 2px solid; */

 /* box-shadow: 1px 2px rgba(0, 0, 0, 0.573); */
 background: linear-gradient(to right,rgb(51, 67, 148),rgb(68, 55, 140));
 /* font-size: 1vmax; */
 border-radius: 20px;
 color: rgb(221, 221, 221);
 text-align: center;
 align-content: baseline;
 font-size: 1.2rem;
 /* display: inline-block; */
 /* max-width: 10px; */
 cursor: pointer;
}

.bottom-item .cart{
  width: 11rem;

}
