:root{
    --img:url("");
}

.container{
    display: grid;
    /* grid-template-columns: repeat(2,auto); */
    /* grid-auto-rows: 2vmax; */
    grid-template-areas: "info info info2 info2"
                            "desc desc desc desc";
    gap: 5rem;
    justify-content: center;
    
    /* margin-left: 300px;
    margin-right: 300px; */
    /* grid-template-columns: repeat(3,20%); */

    margin-bottom: 50px;
    margin-top: 50px;
}



.info{
    /* border: 5px solid white; */
    padding-right: 3rem;
    text-align: center;
    grid-area: info;
}



.tree a{
    text-decoration: none;
    color: white;
    direction: ltr;
}

.tree{
    color: rgb(183, 183, 183);
    /* direction: ltr; */
    /* text-align: center; */
    /* word-break: break-all; */
    /* white-space: nowrap; */
    font-size: 12px;
    margin-bottom: 13px;
    /* min-height: 10rem; */
}




.prodName{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    direction: ltr;
    text-align: center;
    
    word-break: keep-all;

    margin-bottom: 13px;

    max-width: 50ch;
}

.prodPrice{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    direction: ltr;
    text-align: center;

    margin-bottom: 13px;
}

.prodQu{
    color: white;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}

.prodQu .avaliable{
    color: green;
}

/* .productDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */




.prodQu .notAvaliable{
    color: red;
}



.info2{
    /* display: flex; */
    /* border: 3px solid white; */
    grid-area: info2;
    /* width: 280px; */
    /* background-image: url("../storage/ProductImages/806442.png"); */
        /* background-position: 50% 50%; */
    /* border: 1px solid; */
    /* justify-content: center; */
    /* width: 100%; */
    /* margin: 0; */
    /* grid-area: infoImg; */
    /* object-fit: cover; */
}


.info2 img:not(.slider img){
   /* flex: 1 0 100%; */
   
    scroll-snap-align: start;
     -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

    object-fit: fill;
    /* width: 100%; */
    width: 300px;
     margin: 0;
     /* object-fit: contain; */
   height: 365px;
   
   
}

/* .info2 img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
    display: inline;
} */

.info2 img:not(:first-child,.slider img){
    display: none;
}

.info2 img:not(.slider img,.zoom):hover
    {
        background-image: var(--img);
        background-position: 50% 50%;
        opacity: 1;
        position: relative;
        width: 300px;
        overflow: hidden;
        cursor: zoom-in;
        text-indent: 100%;
        background-repeat: no-repeat;
        /* scale: 1.5; */
             /* white-space: nowrap;
            overflow: hidden; */
        /* z-index: -1; */
        /* margin-left: auto;
        margin-right: auto; */
        /* opacity: 0; */
        
    }

    .info2 .zoom:hover
    {
        background-position: 50% 50%;
        position: relative;
        width: 280px;
        overflow: hidden;
        cursor: zoom-in;
        z-index: -1;
        /* margin-left: auto;
        margin-right: auto; */
        /* opacity: 0; */
        
    }


.wrapper{
    /* border: 1px solid; */
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
     -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
    position: relative;
   width: 100%;
   margin: 0 auto;
   padding: 0;
   
} 

.slider{

    display: flex;

    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
     -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

    width: 100%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: hidden;
    aspect-ratio: 16/9;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
     margin: 0;
     
}

.slider img{
    flex: 1 0 45%;
   
    
    scroll-snap-align: start;
     -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    object-fit: contain;
    margin: 15px;
    padding: 0;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    /* gap: 10rem; */
    width: 100%;
    /* gap: 10rem; */
    /* height: 150px; */
}



.arrowImg {
    
  border: solid rgb(175, 175, 175);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;


    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
    /* user-drag: none; */

}

.arrowImg:hover{
    cursor: pointer;
    
}

.right {
    
    /* position: absolute;
    right: 50px;
    top: 450px; */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
     height: auto;
    /* -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none; */
}

.left {
    
    /* position: absolute;
    left: 50px;
    top: 450px; */
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
     height: auto;
  /* -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none; */
}


.next{
    position: absolute;
    right: 0;
    top: 60px;
    /* top: -10; */
    /* padding-top:  570px;
    padding-right: 670px;
    padding-bottom: 360px;
    padding-left: 10px; */

    /* -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none; */
 margin: 0;
 display: inline;
}

.prev
{
    position: absolute;
    left: -15px;
    top:65px;
   
    /* padding-top:  350px; */
    /* padding-left: 45px;
    padding-bottom: 360px;
    padding-right: 10px; */

    /* -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none; */

  margin: 0;
 display: inline;
}





.prodDesc{
    /* border: 3px solid white; */
    grid-area: desc;
    max-width: clamp(100ch,80ch,120ch);
   margin-left: auto;
   margin-right: auto;
}



.prodDesc p:not(.descInfo){
     word-spacing: 4px;
    /* word-break: break-all; */
    white-space: pre-wrap;
    font-size: 1.2rem;
    color: white;
    direction: rtl;
    line-height: 35px;
    margin: 0;
    padding: 5px;
    text-align: right;
    
}

.Descline
{
    /* border: 1px solid; */
    background: linear-gradient(to right,rgb(51, 67, 148),rgb(68, 55, 140));
    height: 8px;
    border: none;
    margin: 0;
    
}

.descInfo{
    margin: 0;
    text-align: center;
    font-size: 2rem;
    color:rgb(255, 255, 255);
}



.hide{
    display: none;
}

.mobZoom{
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.793);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.mobSlider{
     display: flex;

    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
     -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* aspect-ratio: 16/9; */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
     /* margin: 0; */
     

}

.mobSlider img{
     flex: 1 0 100%;
   
    
    scroll-snap-align: start;
     -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    object-fit: contain;
    /* margin: 15px; */
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: auto;
    padding: 0;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    /* gap: 10rem; */
    width: 100%;
    height: 50%;
    /* transform: scale3d(1,1,1); */
    /* gap: 10rem; */
    /* height: 150px; */
}

.scrollDis{
    overflow: hidden;
}

.mobIcons ul{
    position: fixed;
    display: flex;
    left: 0;
    gap: 1rem;
    font-size: 1.3rem;
    color: white;
    top: 0;
    z-index: 99;
    width: 100%;
    margin-bottom: 15px;
}

.mobIcons li:hover{
    cursor: pointer;
    color: cornflowerblue;
}

@media only screen and (max-width:700px){
    /* .container{
        grid-template-columns: repeat(1,5rem);
        grid-template-areas: 
                            "info2 info2 info2 info2"

                            "info info info info"
                            
                            "desc desc desc desc";
        grid-auto-rows: 2vmax;
        
    } */
    /* .info2{
        grid-column: 2;
        width: 170px;
    } */


    .container{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .info2{
        order: 1;
        margin-bottom: 20px;
    }

    .info2 img:not(.slider img){
        width: 100%;
        margin-bottom: 1em;
    }
    
    .info2 img:not(.slider img,.zoom):hover
    {
        width: 100%;
    }


    .info{
        order: 2;
    }
    
    .prodDesc{
        order: 3;
        margin-bottom: 40px;
    }

    .avBoard{
        border: 3px solid rgba(172, 255, 47, 0.661);
        box-shadow: 2px 0px 8px 1px #81d877;
        
    }

    .notAvBoard{
        border: 3px solid red;
        
    }

    .next{
        top: 0px;
        /* right: 2%; */
        /* top: -10; */
        padding-top:  70px;
        padding-bottom: 70px;
        padding-right: 0.5em;
    }

    .prev
    {
        top: 0;
        /* left: 2%; */
        padding-top:  70px;
        padding-bottom: 70px;
        padding-left: 1.5em;
    }
    
    .slider img{
        flex: 1 0 40%;
    }
}


@media only screen and (min-width:701px)
{
    .avBoard{
        border: 3px solid rgba(172, 255, 47, 0.661);
        box-shadow: 2px 0px 8px 1px #81d877;
        width: 250px;
    }

    .notAvBoard{
        border: 3px solid red;
        width: 250px;
    }
    .wrapper{
        margin-left: -2%;
    }

}
